# Ignore artifacts
build
coverage
dist
package-lock.json
package.json
postcss.config.cjs
prettier.config.cjs
tailwind.config.cjs
tsconfig.json
tsconfig.node.json
vite.config.ts
.prettierrc.json
index.html